<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ero-pic.net</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!--CSS-->
    <!-- @@include=_css.html -->

    <!-- build:css /css/pages/<!-- @@var page -->.css-->
    <!-- @@placeholder =css -->
    <!-- endbuild -->

    <!--JS-->
    <!-- @@include=_js.html -->

    <!-- build:js /js/compiled/pages/<!-- @@var page -->.js-->
    <!-- @@placeholder =js -->
    <!-- endbuild -->
</head>
<body ng-app="app">

<div id="header">
    <!-- @@include=_header.html -->
</div>

<!-- @@placeholder =content -->

</body>
</html>