<!DOCTYPE html>
<html lang="en">
<head ng-app="app">
    <meta charset="utf-8">
    <title>ero-pic.net</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!--CSS-->
    <!-- @@include=_css.html -->

    <!-- @@placeholder =css -->

    <!--JS-->
    <!-- @@include=_js.html -->

    <!-- @@placeholder =js -->
</head>
<body>

<div id="header">
    <!-- @@include=_header.html -->
</div>

<!-- @@placeholder =content -->

</body>
</html>